option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/pm2.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/logs/*.log

commands:
  01_install_pm2_globally:
    command: "npm install -g pm2@latest"
    ignoreErrors: false

